<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Lista de programa</h3>
    <table border="2">
            <tr>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Creditos</th>
                <th>Estado</th>
            </tr>
            <tr th:each="programa: ${programaAttribute}">
               <td th:text="${programas.NombreP}"></td> 
               <td th:text="${programas.Nivel}"></td> 
               <td th:text="${programas.Creditos}"></td> 
               <td th:text="${programas.EstadoP}"></td> 
            </tr>
        </table>
    </body>
</html>