<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Informacion del programa</h3>
        Nombre: <span th:text="${programaAttributes.nombreP}" />
        <br/>
        Nivel: <span th:text="${programaAttributes.nivel}" />
        <br/>
        Creditos: <span th:text="${programaAttributes.creditos}" />
        <br/>
        Estado: <span th:text="${programaAttributes.estadoP}" />
    </div>
</body>
</html>