<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Lista de tutoriales</h3>
    <table border="2">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Url</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Autor</th>
            </tr>
            <tr th:each="tutorial: ${tutorialAttribute}">
               <td th:text="${tutoriales.Nombre}"></td> 
               <td th:text="${tutoriales.Descripcion}"></td> 
               <td th:text="${tutoriales.Url}"></td> 
               <td th:text="${tutoriales.Estado}"></td> 
               <td th:text="${tutoriales.Fecha}"></td> 
               <td th:text="${tutoriales.Autor}"></td> 
            </tr>
        </table>
    </body>
</html>